/* Add our CSS here */
.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 100%;
    gap: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFC58C;
}

.footer-container {
    width: 100%;
    gap: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFC58C;
}

.home-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFCE72;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
}

.description-container {
    width: 90%;
    background-color: #D9D9D9;
    font-size: 1.25em;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid #7e7e7e;
}

.logo-container {
    background-color: #ffffff;
    border-radius: 100%;
    padding: 10px;
}

.header-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-subcontainer .nav-container {
    display: flex;
    font-size: 1.25em;
}

.footer-container .nav-container {
    display: flex;
    flex-direction: column;
}

.nav-container a {
    padding: 20px 40px;
    cursor: pointer;
    background-color: #FFCE72;
    text-decoration: none;
    transition: background-color ease-in-out 0.25s;
}

.nav-container a:hover {
    background-color: #a18249;
}

.nav-container a:visited {
    color: #000000;
}

.website-name
,.title {
    font-size: 3em;
    margin: 10px;
    letter-spacing: 5px;
    word-spacing: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
}

.address-container {
    padding: 5px 20px;
    background-color: #FFCE72;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px
}

.input-box {
    padding: 10px;
    width: 75%;
    font-size: 1.25em;
    background-color: #D9D9D9;
}

.radio-container {
    display: flex;
    gap: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.radio-subcontainer {
    display: flex;
    gap: 50px;
    font-size: 1.25em;
}

.radio-subcontainer input {
    appearance: none;
}

.radio-subcontainer label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.solid-circle {
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 100%;
    cursor: pointer;
}

/* --- GAME PAGE STYLES --- */
.option-button {
    background-color: #f7b8b8;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

.option-button:hover {
    background-color: #ff8080;
}

.timer {
    font-style: italic;
    font-size: 1.25em;
}
